<div class="container-fluid rm-gutter">
	
	<div class="sidebar">
		<div class="logo-panel">
			<img src="/img/logo_white.png" alt="">
		</div>
		<div class="links">
			<ul class="list-unstyled">
				<li><a href="#">Introduction</a></li>
				<li class="sub-menu">
					<ul class="list-unstyled">
						<li><a href="#">What it is</a></li>
						<li><a href="#">Benefits</a></li>
						<li><a href="#">Caveats</a></li>
						<li><a href="#">Future Improvements</a></li>
					</ul>
				</li>
			</ul>

			<ul class="list-unstyled">
				<li><a href="#">Anatomy</a></li>
				<li class="sub-menu">
					<ul class="list-unstyled">
						<li><a href="#">Blocks</a></li>
						<li class="sub-menu">
							<ul class="list-unstyled">
								<li><a href="#">Meta</a></li>
								<li><a href="#">Ownership</a></li>
								<li><a href="#">Attributes</a></li>
								<li><a href="#">Embeds</a></li>
								<li><a href="#">Signatures</a></li>
							</ul>
						</li>
						<li><a href="#">Host</a></li>
						<li><a href="#">Address</a></li>
						<li><a href="#">Signing</a></li>
						<li><a href="#">Verification</a></li>
					</ul>
				</li>
			</ul>

			<ul class="list-unstyled">
				<li><a href="#">Libraries</a></li>
				<li class="sub-menu">
					<ul class="list-unstyled">
						<li><a href="#">Go</a></li>
						<li><a href="#">Javascript</a></li>
					</ul>
				</li>
			</ul>

		</div>
	</div>


	<div class="content">
		<div class="header">Introduction</div>
		<div class="main-content">
			A stone is a cryptographically signed piece of data or token used to represent
			things of value such as money, tokens, digital currencies, deeds, certificates and many more. It is designed to 
			be tangible, portable and easy to transfer through everyday messaging systems such as email,
			sms, whatsapp etc.
		</div>
	</div>
</div>